{% extends 'store/base.html' %}

{% load static %}

{% block content %}
<main style="background-color: rgb(247, 247, 247)">
      <div class="container" style="padding-top: 0.5%">
        <a
          class="fst-italic link-dark fw-normal"
          href="{% url 'index' %}"
          style="text-decoration: none"
          >Главная</a> > <span class="fst-italic link-dark fw-normal">О компании</span>
      </div>
      <div class="container" style="padding-top: 1.5%">
        <p class="text-start fs-4">
          Добро пожаловать на сайт маркетплейса Gadget Store!
          <br />
        </p>
        <p class="fs-5 text-start">
          Будучи далеко не новичками на рынке, мы хорошо знаем, чего хочет наш
          потенциальный клиент, поэтому Gadget Store - это не просто
          онлайн-каталог товаров. Мы идём в ногу со временем, поэтому наш ресурс
          сейчас совмещает в себе маркетплейс и информационный портал, где
          помимо самой свежей информации о новинках, вы найдёте качественные
          видео обзоры, советы по настройке и использованию оборудования,
          новости, обзоры фильмов, игр и другой развлекательный контент.
        </p>
        <p class="text-start fs-4">
          Gadget Store - это качественный сервис и индивидуальный подход к
          каждому клиенту!
        </p>
        <p class="text-start fs-5">
          Мы не гонимся за быстрой выгодой, поэтому результат нашей работы -
          сотни довольных клиентов, которые советуют нас своим друзьям и
          близким. Мы делаем всё, чтобы бренд Gadget Store ассоциировался со
          словами "надёжность" и "качество". Мы тщательно отбираем товары,
          которые предлагаем своим покупателям. На витринах нашего маркетплейса
          вы найдёте только самые лучшие и актуальные устройства и аксессуары
          различных производителей. Все заказы доставляются курьерской службой в
          кратчайшие сроки по всей России. Если вы находитесь в Москве или
          ближайшем Подмосковье, заказ вам привезёт курьер.
        </p>
        <p class="text-start fs-4">
          Gadget Store - это маркетплейс с огромным выбором!
        </p>
        <p class="text-start fs-5">
          В нашем каталоге вы найдёте огромное количество аксессуаров
          известнейших брендов от разных магазинов. Это значит, что вам не нужно
          тратить лишнее время, ломая голову над тем, где бы купить плёнку или
          чехол для вашего гаджета. Достаточно сделать заказ на сайте Gadget
          Store или по телефону. Если же при заказе возникли сомнения, или вы
          просто-напросто не можете определиться, курьер всегда может привезти
          несколько вариантов на выбор (возможность доступна для клиентов из
          Москвы и ближайшего Подмосковья). Стараясь угодить клиенту, мы
          постоянно расширяем ассортимент товаров, привлекая новых партнёров.
        </p>
        <p class="text-start fs-4">
          Gadget Store - это маркетплейс с демократичными ценами!
        </p>
        <p class="text-start fs-5">
          Мы не гонимся за сиюминутной выгодой и ответственно относимся к выбору
          партнёров, поэтому цены на сайте весьма демократичны. Мы не идём на
          различные уловки, которыми пользуются наши конкуренты, не размещаем
          товары сомнительного качества и не навязываем дорогостоящие услуги и
          аксессуары. Цены, по которым продаются товары, позволяют предложить
          вам официальную и качественную продукцию, за которую мы ручаемся
          гарантией и своим именем.
        </p>
      </div>
      <nav class="navbar navbar-expand-lg" style="padding-top: 2%">
        <div class="container shadow" style="background-color: #745eac">
          <div class="collapse navbar-collapse p-5" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
              <li style="width: 254px; margin-right: 10px">
                <a>
                  <p1 class="fs-5 text-white fw-normal">Быстрая доставка</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Вслушайтесь и вы услышите<br />
                    как торопится наш курьер!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 0px">
                <a>
                  <p1 class="fs-5 text-white"> Простой возврат</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Мы поможем вам с этим, <br />если что-то пошло не так!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 0x">
                <a>
                  <p1 class="fs-5 text-white fw-normal"> Скидки и акции</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Каждый день, специально <br />для вас!
                  </h1></a
                >
              </li>
              <li style="width: 254px; margin-left: 10px">
                <a
                  ><p1 class="fs-5 text-white"> Консьерж-сервис</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Помощь при выборе и эксплуатации вашего гаджета!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 10px">
                <a
                  ><p1 class="fs-5 text-white"> Мы классные</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    С нами так приятно <br />
                    иметь дело!
                  </h1></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <footer class="text-center text-lg-start bg-light text-muted">
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        ></section>
        <section class="">
          <div class="container text-center text-md-start mt-3">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">
                  <i class="fas fa-gem"></i>GadgetStore
                </h6>
                <p>
                  Мы всегда стремимся найти самых выгодных поставщиков, поэтому
                  наши цены такие низкие. Более 1000 клиентов по всей России,
                  попробуйте и Вы!
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">О нас</h6>
                <p>
                  <a href="about.html" class="text-reset">О компании</a>
                </p>
                <p>
                  <a href="delivery.html" class="text-reset">Доставка</a>
                </p>
                <p>
                  <a href="guarantee.html" class="text-reset">Гарантия</a>
                </p>
                <p>
                  <a href="TradeIN.html" class="text-reset">Trade In</a>
                </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">Контакты</h6>
                <p>
                  <i class="fas fa-home"></i> Москва, Багратионовский проезд, д.
                  7 к. 20В, Б.Ц. "Конвент", офис 711 (7 этаж)
                </p>
                <p>
                  <i class="fas fa-envelope"></i>
                  info@GadgetStore.ru
                </p>
                <p><i class="fas fa-phone"></i> 8(915)·252·58·59</p>
                <p><i class="fas fa-print"></i> 8(800)·555·35·35</p>
              </div>
            </div>
          </div>
        </section>
        <div
          class="text-center p-3"
          style="background-color: rgb(240, 239, 239)"
        >
          © 2022 Авторские права:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
            >NodeathMod</a
          >
        </div>
      </footer>
    </main>
{% endblock %}