{% extends 'store/base.html' %}

{% load static %}

{% block content %}
<main style="background-color: rgb(247, 247, 247)">
      <div class="container" style="padding-top: 0.5%">
        <a
          class="fst-italic link-dark fw-normal"
          href="{% url 'index' %}"
          style="text-decoration: none"
          >Главная</a> > <span class="fst-italic link-dark fw-normal">Контакты</span>
      </div>
      <div class="container">
        <p class="fs-1 fw-bold" style="padding-top: 1%">Контакты</p>
        <p class="fs-5">
          Друзья, мы работаем для вас ежедневно с 10:00 до 20:00. <br />График
          работы пункта самовывоза (шоурума): Ежедневно 11:00 до 20:00.
          <br /><strong>Внимание:</strong> при самовывозе необходимо заранее
          оформить заказ. Не забудьте связаться с нами перед приездом.
        </p>
        <p class="fs-5">
          Вы всегда сможете получить техническую поддержку и консультацию по
          ассортименту наших товаров следующими способами:
        </p>
        <div class="container">
          <ul class="list-group list-group-flush" style="padding-left: 4%">
            <li class="fs-5">
              Cделав заказ на нашем сайте в любой день недели и в любое время
              суток
            </li>
            <li class="fs-5" style="padding-top: 1%">
              По многоканальным телефонам в Москве: <br />
              <p style="padding-left: 3%">
                8 (800) 555-35-35<br />
                8 (800) 555-35-35 <br />8 (800) 555-35-35 <br />(Не дозвонились?
                Дополнительный телефон для связи: 8 (800) 555-35-35)
              </p>
            </li>
            <li class="fs-5">
              Вы также можете связаться с нами с помощью мессенджеров: WhatsApp,
              Telegram
            </li>
            <li class="fs-5" style="padding-top: 1%">
              При помощи online-консультанта на нашем сайте. Просто нажмите на
              кнопку "Нужна помощь?" в нижнем правом углу экрана
            </li>
            <li class="fs-5" style="padding-top: 1%">
              В наших профилях в социальных сетях:<br />
              <p style="padding-left: 3%">
                GADGET STORE Вконтакте <br />GADGET STORE Телеграм <br />GADGET
                STORE Твиттер
              </p>
            </li>
            <li class="fs-5">
              Также вы можете связаться с нами по различным вопросам по email:
              <br />
              <p style="padding-left: 3%">
                info@gadgetstore.ru – по общим вопросам и для получения
                консультации по ассортименту наших товаров
                <br />pr@gadgetstore.ru – для блогеров и предложений по
                сотрудничеству <br />ad@gadgetstore.ru – по вопросам размещения
                рекламы на наших ресурсах (YouTube, VK, Telegram, Twitter,
                другие соцсети, блог) <br />buy@gadgetstore.ru – если у вас есть
                интересные предложения по закупке и продаже товаров
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <p class="fs-5">
          Мы дорожим своей репутацией, поэтому если вдруг вы остались недовольны
          нашей работой, пожалуйста, позвоните по телефону <br />8 (916)
          034-80-34 и расскажите о проблеме - мы решим ее максимально быстро.
        </p>
        <p class="fs-5">
          Забрать заказанный товар вы можете в шоуруме Гаджет Стор в Москве,
          расположенном по адресу:<br />
          <a
            href="https://www.google.com/maps/place/Big+Geek/@55.743529,37.5032647,17z/data=!3m1!4b1!4m5!3m4!1s0x46b54a5eaeed6c77:0x484ab5353d32728c!8m2!3d55.743526!4d37.5054534?hl=ru"
            >Москва, Багратионовский проезд, д. 7 к. 20В БЦ "Конвент", этаж 7,
            офис 711 </a
          ><br />Ближайшие станции метро - <strong>Багратионовская</strong> или
          <strong>Фили</strong> <br />Пешая прогулка до нас составит в среднем 5
          минут.<br />
          График работы шоурума - <strong>ежедневно с 11:00 до 20:00</strong
          ><br />Для оформления разового пропуска нужно обратиться к охране и
          назвать номер офиса (711) или название компании (Гаджет Стор). Для
          оформления пропуска требуется документ, удостоверяющий личность.
        </p>
      </div>
      <div style="padding-left: 19%">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.8618674830104!2d37.50326471613507!3d55.74352900017435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5eaeed6c77%3A0x484ab5353d32728c!2sBig%20Geek!5e0!3m2!1sru!2sru!4v1670004675062!5m2!1sru!2sru"
          width="1200"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <nav class="navbar navbar-expand-lg" style="padding-top: 2%">
        <div class="container shadow" style="background-color: #745eac">
          <div class="collapse navbar-collapse p-5" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
              <li style="width: 254px; margin-right: 10px">
                <a>
                  <p1 class="fs-5 text-white fw-normal">Быстрая доставка</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Вслушайтесь и вы услышите<br />
                    как торопится наш курьер!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 0px">
                <a>
                  <p1 class="fs-5 text-white"> Простой возврат</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Мы поможем вам с этим, <br />если что-то пошло не так!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 0x">
                <a>
                  <p1 class="fs-5 text-white fw-normal"> Скидки и акции</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Каждый день, специально <br />для вас!
                  </h1></a
                >
              </li>
              <li style="width: 254px; margin-left: 10px">
                <a
                  ><p1 class="fs-5 text-white"> Консьерж-сервис</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    Помощь при выборе и эксплуатации вашего гаджета!
                  </h1>
                </a>
              </li>
              <li style="width: 254px; margin-right: 10px">
                <a
                  ><p1 class="fs-5 text-white"> Мы классные</p1>
                  <h1 class="fs-6 text-white fw-normal">
                    С нами так приятно <br />
                    иметь дело!
                  </h1></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <footer class="text-center text-lg-start bg-light text-muted">
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        ></section>
        <section class="">
          <div class="container text-center text-md-start mt-3">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">
                  <i class="fas fa-gem"></i>GadgetStore
                </h6>
                <p>
                  Мы всегда стремимся найти самых выгодных поставщиков, поэтому
                  наши цены такие низкие. Более 1000 клиентов по всей России,
                  попробуйте и Вы!
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">О нас</h6>
                <p>
                  <a href="about.html" class="text-reset">О компании</a>
                </p>
                <p>
                  <a href="delivery.html" class="text-reset">Доставка</a>
                </p>
                <p>
                  <a href="guarantee.html" class="text-reset">Гарантия</a>
                </p>
                <p>
                  <a href="TradeIN.html" class="text-reset">Trade In</a>
                </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4 text-dark">Контакты</h6>
                <p>
                  <i class="fas fa-home"></i> Москва, Багратионовский проезд, д.
                  7 к. 20В, Б.Ц. "Конвент", офис 711 (7 этаж)
                </p>
                <p>
                  <i class="fas fa-envelope"></i>
                  info@GadgetStore.ru
                </p>
                <p><i class="fas fa-phone"></i> 8(915)·252·58·59</p>
                <p><i class="fas fa-print"></i> 8(800)·555·35·35</p>
              </div>
            </div>
          </div>
        </section>
        <div
          class="text-center p-3"
          style="background-color: rgb(240, 239, 239)"
        >
          © 2022 Авторские права:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
            >NodeathMod</a
          >
        </div>
      </footer>
    </main>
{% endblock %}